---
# Project information
site_name: TrenchBoot
site_url: https://trenchboot.org
site_author: TrenchBoot Developers
# Repository
repo_name: TrenchBoot Issues
repo_url: https://github.com/TrenchBoot/trenchboot-issues
edit_uri: ""
# Copyright
copyright: Copyright &copy; 2018 - 2024 TrenchBoot Developers

nav:
  - Home: index.md
  - Events:
      - events.md
      - upcoming_events.md
  - Specifications:
      - specifications/index.md
      - specifications/Secure_Launch.md
  - Documentation:
      - Getting started:
          - user-docs/index.md
          - user-docs/requirements.md
          # - installing - Linux
          - user-docs/install_aem.md
          # - troubleshooting
          - user-docs/test_matrix.md
      - For developers:
          - dev-docs/index.md
          - dev-docs/CONTRIBUTING.md
          - dev-docs/code.md
          - dev-docs/Late_Launch_Overview.md
          - dev-docs/DevelopersGuide.md
      - Theory:
          - theory/index.md
          - theory/UseCases.md
          - theory/Architecture.md
          - theory/Glossary.md
      - Blueprints:
          - blueprints/index.md
          - blueprints/TXT_Grub_Late_Launch.md
          - blueprints/AMD_Grub_Late_Launch.md
          - blueprints/AMD_Secure_Kernel_Loader.md
          - blueprints/Linux_Late_Launch.md
          - blueprints/Measured_Secure_Boot.md
      - References:
          - references/README.md
          # TODO: make these open in new tab.
          # https://github.com/squidfunk/mkdocs-material/issues/889#issuecomment-582297142
          # works but throws a warning about file not found in the documentation
          # files. Another option is JS that adds target="_blank" attribute to
          # all links to PDF.
          - AMD64 Architecture Programmers Manual Volume 2 Ch15.27:
              references/AMD64-Architecture-Programmers-Manual_Volume-2_Ch15.27.pdf
          - Intel TXT Preliminary Architecture Specification:
              references/intel-txt-preliminary-architecture.pdf
          - Intel TXT Software Development Guide:
              references/intel-txt-software-development-guide.pdf
  - Steering Committee:
      - steering-committee/index.md
      - steering-committee/Community-Meeting-June17-2021.md
  - TrenchBoot FAQ: FAQ.md
  - Community: community.md

use_directory_urls: true

theme:
  name: material
  logo: img/logo.svg
  favicon: img/favicon.ico
  language: en
  palette:
    scheme: slate
    primary: grey
  font:
    text: Source Sans Pro
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - header.autohide

extra:
  social:
    - icon: material/github
      link: https://github.com/TrenchBoot
    - icon: material/home
      link: https://trenchboot.org

extra_css:
  - assets/style.css

plugins:
  - search
  - awesome-pages
  - pagenav-generator
  - include-markdown
  - git-revision-date-localized

markdown_extensions:
  - extra
  - toc:
      permalink: true
  - markdown_include.include
  - attr_list
