# Project information
site_name: TrenchBoot
site_url: https://trenchboot.org
site_author: TrenchBoot Developers
# Repository
repo_name: TrenchBoot Issues
repo_url: https://github.com/TrenchBoot/trenchboot-issues
edit_uri: ""
# Copyright
copyright: Copyright &copy; 2018 - 2021 TrenchBoot Developers 

nav:
    - Home:
      - index.md
    - Events:
      - events.md
      - upcoming_events.md
    - Code:
      - code.md
    - Documentation:
      - ... | documentation/*.md
      - ... | blueprints/*.md
      - ... | meeting-minutes/*.md
    - Steering Committee:
      - ... | steering-committee/*.md
    - FAQ:
      - FAQ.md
    - Community:
      - community.md

use_directory_urls: true

theme:
    name: material
    logo: img/logo.svg
    favicon: img/favicon.ico
    language: en
    palette:
      scheme: slate
      primary: grey
    font:
      text: Source Sans Pro
      code: Roboto Mono
    features:
      - navigation.instant
      - navigation.tabs
      - navigation.tabs.sticky
      - navigation.indexes
      - header.autohide

extra:
  social:
    - icon: material/github
      link: https://github.com/TrenchBoot
    - icon: material/home
      link: https://trenchboot.org

extra_css:
  - assets/style.css

plugins:
  - search
  - awesome-pages
  - pagenav-generator
  - include-markdown
  - git-revision-date-localized

markdown_extensions:
  - extra
  - toc:
      permalink: true
  - markdown_include.include
  - attr_list
