mkdocs-material
mkdocs-bootstrap4
mkdocs-awesome-pages-plugin
mkdocs-include-markdown-plugin
mkdocs-git-revision-date-localized-plugin
git+https://github.com/Andre601/mkdocs-pagenav-generator
markdown-include
